<!--form to submit new carriers -->
<div class="container m-2">
    <div class="row">
        <div class="col-sm-5 new-roll p-2">
            <h2>Add a Roll</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="roll">Roll Name:</label>
                    <input type="text" id="ro" name="roll_name" placeholder="yummy roll">
                </div>
                <button type="submit">Add Roll</button>
            </form>
        </div>
    </div>
</div>