{{!--
<!--form to submit new carriers -->
<div class="container m-2">
    <div class="row">
        <div class="col-sm-5 new-roll p-2">
            <h2>Add a Roll</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="roll">Roll Name:</label>
                    <input type="text" id="ro" name="roll_name" placeholder="yummy roll">
                </div>
                <button type="submit">Add Roll</button>
            </form>
        </div>
    </div>
</div> --}}

<div class="container text-center">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>