<table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Additional Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Contact</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Email</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Additional Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Contact</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Email</th>
            </tr>
        </tfoot>
    </table>