<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./jearLogo.jpg" alt="" width="30" height="24">
    </a>
  </div>
</nav>


<div class="container mt-4">
    {{> form-block }}
    <div class="card-header text-center">
        <h2>Carriers CRUD</h2>
    </div>

    {{> table-block }}
    {{> edit-block }}

</div>