<div class="container-fluid text-center brand-container">
    <a class="navbar-brand" href="#">
        <img src="https://raw.githubusercontent.com/Q118/carrier/main/views/jearLogo.jpg" alt="jear-logo">
    </a>
</div>



<div class="container mt-4">
    {{> form-block }}
    <div class="card-header text-center">
        <h2>Carriers CRUD</h2>
    </div>

    {{> table-block }}
    {{> edit-block }}

</div>