<!-- change to sushi info! -->

<h1>JEAR Logistics</h1>



<div class="container mt-4">
    {{> form-block }}
            <div class="card-header text-center">
                <h2>Carriers CRUD</h2>
            </div>

        {{> table-block }}


</div>