body {
    background: lightgray
}

h1 {
    text-align: center;
    background-color: black;
    color: white;

}

img {
    margin: 20px;
}

.brand-container {
    background-color: #f36422;
}

.card {
    background-color: #525a39;
    border-color: black;
    border-width: 7px;
    border-style: groove;
    color: white;
}

.new-roll {
    background-color: #d34b3b;
    border-color: black;
    border-width: 7px;
    border-style: groove;
    color: white;
}

.email-cell {
    word-wrap: break-word;
}

.hidden {
    display: none;
}